<h1>Palindromes:</h1>
<form action="">
  User:<br>
  <input type="text" name="user" placeholder="John Smith">
  <br>
  Palindrome:<br>
  <input type="text" name="palindrome" placeholder="dad">
  <br><br>
  <input type="submit" value="Submit">
</form>